.button {
  padding: 0px 5px;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar {
  margin-bottom: 40px;
  padding: 30px;
  height: 100px;
  background-color: rgb(145, 220, 196) !important;
}

.nav-pills .nav-link {
  background-color: rgb(145, 220, 196) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  margin-right: 8px;
}
.nav-pills .nav-link.active {
  background-color: white !important;
  color: rgb(83, 192, 152) !important;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  margin-right: 8px;
}
