<div class="container-fluid page">
    <div class="row content">
        <div class="col-sm-4">
            <div id="charity-edit-widget" class="widget">
                <h6 class="section-head">Edit Account Details</h6>
    
                <!-- Username [read-only] -->
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-prepend" id="username-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </span>
                    <input type="name" class="form-control edit" id="username" :placeholder="username" readonly>
                </div>
                
                <!-- Email [read-only] -->
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-prepend" id="email-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                    </span>
                    <input type="email" class="form-control edit" id="email" :placeholder="email" readonly>
                </div>

                <!-- Edit Address -->
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-prepend" id="address-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                    </span>
                    <input type="text" class="form-control edit" :placeholder="address" v-model="address" aria-label="Input group" aria-describedby="address-input">
                    <svg type="button" @click="address = ''" v-show="address" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill input-clear" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>  
                </div>
    
                <!-- Edit Phone # -->
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-prepend" id="phone-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </span>
                    <input type="text" class="form-control edit" :placeholder="phone" v-model="phone" aria-label="Input group" aria-describedby="phone-input">
                    <svg type="button" @click="phone = ''" v-show="phone" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill input-clear" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>  
                </div>

                <!-- Save Button -->
                <div id="save-btn" class="d-flex justify-content-end align-items-center">
                    <span v-show="showSaveMsg" id="save-msg">Saved!</span>
                    <button type="button" class="btn btn-success btn-lg" @click="saveDetails">Save</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-4 sidenav">
            <div class="sidebar-profile d-flex align-items-center flex-column">
                <img v-if="showDefault" src='@/assets/profile-image-placeholder.png' alt="Profile Picture" style="width: 100px">
                <img v-else :src='imageURL' alt="Profile Picture" style="width: 100px">
                <br>
                <h3>{{username}}</h3>
            </div>
            <div class="sidebar-section">
                <h5>Edit Account Information</h5>
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Profile Picture</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" @change="preview">
                                    <input type="file" @change="preview" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Profile Picture</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" @change="preview" id="pfp" class="custom-file">
                                    <button @click="remove_image" type="button" class="btn btn-link">remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" class="form-control" v-bind:placeholder="username" aria-label="Username" aria-describedby="basic-addon1" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                                </div>
                                <input class="form-control" type="text" v-bind:placeholder="email" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Bio</span>
                                </div>
                                <input v-model="bio" type="text" class="form-control" placeholder="Enter a bio" aria-label="Donor Bio" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Phone Number</span>
                                </div>
                                <input v-model="phone" type="text" class="form-control" placeholder="Enter a phone number" aria-label="Donor Phone Number" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Address</span>
                                </div>
                                <input v-model="address" type="text" class="form-control" placeholder="Enter an address" aria-label="Donor Address" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button v-on:click="clear" type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <button v-on:click="save" type="button" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    -->

        <!-- Statistics -->
        <DonorStatsWidget/>
    </div>
</div>