.timeago {
  font-size: small;
  margin: 10px;
}

.request-label {
  margin: 0px 10px !important;
}

#head-col {
  padding: 0px !important;
  min-width: 300px;
}

#button-col {
  padding: 0px !important;
}

#view-request {
  min-width: 165px;
}
