<div class="donation-request card">
    <div class="card-header row" id="headingTwo">
        <div class="col-sm-7 d-flex w-100 justify-content-start align-items-center">
            <span class="badge badge-pill" :class="requestData.status === 'Accepted' ? 'badge-success' : requestData.status === 'Rejected' ? 'badge-danger' : 'badge-secondary'" style="margin-right: 5px;">{{requestData.status}}</span>
            <h6 class="donation-label">{{requestData.donationLabel}}</h6>
        </div>
        <div class="col-sm-5 d-flex w-100 justify-content-end align-items-center">
            <timeago class="timeago" :datetime="requestData.dateCreated" :auto-update="60"></timeago>
            <div type="button" data-toggle="collapse" :data-target="'#collapse-' + requestData.id" aria-expanded="true" :aria-controls="'collapse-' + requestData.id" @click="toggle">
                <!-- Chevron icons from node_modules/bootstrap-icons -->
                <svg v-if="collapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                </svg>
                <svg v-if="!collapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
      </div>
      <div :id="'collapse-' + requestData.id" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body container-fluid">
            <div class="row">
                <!-- TODO: put actual data -->
                <div class="col-sm-5">
                    <h6>Charity Information</h6>
                    <p>[Charity Picture]</p>
                    <p>{{requestData.charityContact}}</p>
                    <p>{{requestData.charityLocation}}</p>
                </div>
                <div class="col-sm-7">
                    <h6>Donation Form Data</h6>
                </div>
            </div>
        </div>
      </div>
</div>