.timeago {
  font-size: small !important;
  margin-bottom: 10px;
}
.badge-pill {
  margin-right: 10px !important;
}
.request {
  padding: 0px !important;
}
.request-label {
  font-weight: bold !important;
}
.donor-name {
  color: rgba(0, 0, 0, 0.5) !important;
}
#head-col {
  padding: 0px !important;
}
#button-col {
  padding-right: 5px !important;
}
#view-request {
  min-width: 165px;
}
