.timeago {
    font-size: small;
    margin: 10px;
}

.donation-label {
    margin: 0px 10px;
}

.bi {
    margin: 5px;
}

/* .card {
    border: none;
} */
.card-header {
    background-color: white;
}
.card-body {
    background-color: #f8f9fa;
}