<div class="container-fluid page">
  <div class="row">
      <div class="col-lg-1"></div>
      <div id="pformat" class="col-lg-10">  
          <div class="info">
              <p> 
                  Food wastage is a big problem not only in the US but also globally. 
                  Such wastage becomes even more outrageous when there are still people 
                  going hungry around the world. According to the United States Department 
                  of Agriculture (USDA), in 2010, there was 133 billion pounds of food 
                  wasted in the US alone. This food waste is costly for both the world’s 
                  budget and the world’s health, as the food wastes’ value in 2010 was 
                  around $161 billion dollars and produced the same amount of greenhouse 
                  gases as 37 million cars. Saving that money from being thrown in landfills 
                  and avoiding that amount of greenhouse gases being produced would have an 
                  enormous impact on the health of our economy and Earth. Another crucial 
                  fact of our current food system that makes this waste even more stinging is 
                  that around 35 million Americans battled hunger and food insecurity in 2019. 
                  This makes it apparent that there is a vital need for reform and improvement 
                  in the current food supply chain.
              </p> <br>
              <strong>Project Solution</strong>
              <p>
                  Our application aims to provide assistance to reduce such food wastage. 
                  It will do so by connecting businesses as well as individuals who have 
                  an abundance of food on a given day with charitable organizations and 
                  people around them who accept food donations. It will also give charitable 
                  organizations that specialize in food donations a platform where they can 
                  meet new donors and expand their reach. So, this platform will help 
                  businesses and individuals reduce their environmental footprints and tackle 
                  hunger and starvation. At the same time it will also help charitable 
                  organizations by making it easier for them to source donations.
              </p>
          </div>
      </div>
  </div>
</div>

