.donation-site {
  padding: 0px;
}

.charity_picture {
  margin-right: 10px;
  width: 75px;
  height: 75px;
  object-fit: contain;
}
.charity-info > p {
  margin: 0px;
}

.site-label {
  font-weight: bold !important;
}
.site-info {
  color: rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
}
#pic-col {
  padding: 0px !important;
}
#head-col {
  padding: 0px !important;
  margin-left: 20px;
  min-width: 225px;
}
#button-col {
  padding-right: 5px !important;
}
.info-item {
  margin-bottom: 10px;
}
