.donation-site {
    padding: 0px;
}

.charity_picture {
    margin-right: 10px;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.charity-info {
    margin-left: 8px;
}

.charity-info > p {
    margin: 0px;
}