<div class="container-fluid page">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome!</h1>
          <p class="lead">This is our food donation application.</p>
          <button type="button" class="btn btn-primary">Sign Up</button>
          <button type="button" class="btn btn-outline-primary" v-on:click="GoogleLogin">Login</button>
        </div>
      </div>
    <div class="col">
      <router-link to="donor" class="btn btn-outline-primary">View Donor Site</router-link>
      <router-link to="charity" class="btn btn-outline-primary">View Charity Site</router-link>
    </div>
</div>