/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: white;
    height: 100%;
    box-shadow: 0 0 0.5rem 0 rgb(136 152 170 / 15%);
    margin: 20px;
    padding: 30px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}

.clist > * {
    float: left;
}

.page {
    margin: 0px;
    padding: 0px;
}

.home-feed {
    padding: 50px 40px;
}

.charity_picture {
	margin-right: 10px;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

/* navbar header */
.navbar {
    margin: 0px;
    padding: 10px;
}

/* sidenav */
.donor_sidenav {
    position: relative;
    margin: 20px;
    padding: 15px;
}

.sidebar-profile {
    padding: 50px 0px;
}

.sidebar-section {
    padding-top: 10px;
}

.sidebar-subsection {
    padding: 1px 0px;
}

.sidebar-preference {
    padding: 10px 0px;
}