<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Donation Request Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="items-list" v-for="item in items">
                    <li class="item">
                        <DonationFormItem ref="form" :formData="item" @remove-item="removeItem"/>
                    </li>
                    <hr>
                </ul>
                <button type="button" class="btn btn-outline-primary" @click="addItem">Add Item</button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" @click="clearForm">Cancel</button>
            <button type="button" class="btn btn-primary" @click="saveForm">Submit</button>
            </div>
        </div>
    </div>
</div>