<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">Review Request for {{requestData.charity.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- display donor info -->
                    <div class="row">
                        <div class="col">
                            <h6><strong><u>Charity's Information:</u></strong></h6>
                        </div>
                    </div>                    
                    <div class="row">
                    <div class="col">
                        <strong>Name: </strong>{{requestData.charity.name}} 
                    </div>
                    <div class="col">
                        <strong>Phone: </strong>{{requestData.charity.phone}}
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Address: </strong>{{requestData.charity.address}}
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item rounded" v-for="single_request in requestData.formData">
                            <RequestSingular :singleRequest="single_request"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>