.timeago {
  font-size: small !important;
  margin: 10px 0px;
}

.request-label {
  font-weight: bold !important;
}
.donor-name {
  color: rgba(0, 0, 0, 0.5) !important;
}
#head-col {
  padding: 0px !important;
  margin-left: 20px;
}
#button-col {
  padding-right: 5px !important;
}
#view-request {
  min-width: 165px;
}
