<div class="container-fluid page">
    <div class="row content">
        <!-- sidebar -->
        <div class="col-sm-4 sidenav">
            <div class="sidebar-section">
                <h4>Pending Requests</h4>
                <div class="list-group">
                    <DonorRequest/>
                    <DonorRequest/>
                    <DonorRequest/>
                </div>
            </div>
            <div class="sidebar-section">
                <h4>History</h4>
                <div class="list-group">
                    <DonorRequest/>
                </div>
            </div>
        </div>

        <!-- charity list -->
        <div class="col-sm-8 home-feed">
            <h4>Local Donation Sites</h4>
            <hr>
            <DonationSite/>
            <DonationSite/>
            <DonationSite/>
        </div>
    </div>
</div>